{{ define "main" }} {{$p:=.}}
<div id="home">
  <div class="titlewrap">
    <div class="ui container">
      <h1>{{.Params.title}}</h1>
    </div>
  </div>

  {{with .Params.einleitung}}
  <div id="einleitung" class="grey">
    <div class="ui container">
      
      <div class="ui grid two column stackable mobile-reverse">
        <div class="column">
          {{.content|safeHTML}}
        </div>
        <div class="column">
          <div class="teamgrid" style="margin-bottom:4rem">
            {{range .team_einzeln}}
            <div class="tcol">
              <div class="visible content">
                <img src="{{partial "imgUrl" (dict "img" .teambild "params" "c_scale,f_auto,w_300" )}} "/>
                <div class="tm {{.farbe}}">
                  <h3>{{.name}}</h3>
                  <h4>{{.position}}&nbsp;</h4>
                </div>
              </div>
                <div class="hidden content {{.farbe}}">
                    {{.kachelruckseite|markdownify}}
                </div>
            </div>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{end}}
  
  {{with .Params.cobot}}
  <div id="cobot" style="background:url({{partial "imgUrl" (dict "img" .backgroundpicture "params" "q_auto" )}}) left top no-repeat; background-size:50% auto">
    <div class="ui container">
      <div class="ui grid two column stackable">
        <div class="column">
          <img id="imgvordergrund"src="{{partial "imgUrl" (dict "img" .vordergrund_bild "params" "c_scale,f_auto,w_400" )}} "/>
        </div>
        <div class="column">
          <div class="cobot_c">
            <div>
             <h2>{{.headline}}</h2>
                <div class="content">
                  {{.text|safeHTML}}
                </div>
            </div>
          </div>
          <a class="morebutton_icon" href="{{.button.link}}" target="_blank">
            <img src="{{partial "imgUrl" (dict "img" .button.icon "params" "c_scale,f_auto,w_40" )}} "/>
            <div>{{.button.content|safeHTML}}</div>
          </a>
        </div>




      </div>
        
      </div>
    
  </div>
  {{end}}


  {{with .Params.vorteile}}
  <div id="vorteile" style="background:url({{partial "imgUrl" (dict "img" .backgroundpicture "params" "q_auto" )}}) center center no-repeat; background-size:cover">
    <div class="ui container">
      <h2>{{.titelzeile}}</h2>
       <div  class="ui four column grid stackable">
         <div class="row stretched">
          {{range .kacheln}}
            <div class="ui column only">
              <div class="tm {{.farbe}}">
                <div class="content vorderseite">
                  <img src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,f_auto,w_400" )}} "/>
                  {{.text_vorderseite|safeHTML}}
                </div>
                <div class="content">
                  {{.text_ruckseite|markdownify}}
                </div>
              </div>
            </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  {{end}}

  {{with .Params.anwendungsgebiete}}
  <div id="anwendungsgebiete">
    <div class="ui container">
      <h2>{{.titel}}</h2>
      <div class="ui three column grid stackable">
        <div class="row stretched">
          {{range .elemente}}
          <div class="column ">
            <div class="block {{.farbe}}">
             <div
              class="ui embed active"
              data-source="youtube"
              autoplay
              data-id="{{.video}}"
              data-icon="video"
             ></div>

            <div class="content">
              <div class="AGtitel">{{.titel}}</div>
            </div>
            <div class="content">
              {{.content|safeHTML}}
            </div>
          </div>
      
          </div>
        {{end}}
      </div>
      </div>
    </div>
  </div>
  {{end}}

  {{with .Params.Kurzanalyse}}
  <div id="kurzanalyse">
    <div class="ui container">
     
      <div class="three column ui grid stackable">
       <div class="column computer only">
             <img src="{{partial "imgUrl" (dict "img" .bild "params" "c_scale,f_auto,w_400" )}} "/> 
       </div>
      
      <div class="column">
        <h2>{{.titel}}</h2>
        <div class="content">
          <div>{{.content|safeHTML}}</div>
        </div>
      </div>

    
      

    </div>



  </div>
  </div>
  {{ end }}

  {{with .Params.leistungen}}
  <div id="leistungen" class="grey">
    <div class="ui container">
    <h2>{{.titel}}</h2>
    <div class="ui three column grid stackable">
      <div class="row stretched">
        {{range .elemente}}
        <div class="column">
          <div class="block {{.farbe}}">
            <div class="blockback">
              <div class="titel_gross">
                {{.titel_gross}}
                <div class="titel_hochkant">
                  {{.titel_hochkant}}
                </div>
              </div>
              
              <div class="content_mitte">
                {{.content_mitte|safeHTML}}
              </div>
              <div class="content_unten">
                {{.content_unten|safeHTML}}
              </div>
            </div>
            
          </div>
        </div>
        {{end}}
      </div>
    </div>
    </div>
  </div>
  {{end}}


  <div class="ui container standard tim">
    <div class="pfeil">
      <img class="timg" src="{{partial "imgUrl" (dict "img" .Params.pfeil "params" "c_scale,f_auto,w_1100" )}} "/>
    </div>
  </div>

  <div class="content">
    <div class="ui container">
      <section class="ct ks" style="margin-bottom: 2rem">
        <h2>{{ .Params.kurse.titel}}</h2>
      {{ .Params.kurse.kurs_iframe|safeHTML}}
     
      </section>
    </div>
  </div>


  {{with .Params.videos}}
  <div class="ui container">
  <div id="videos" >
    <div class="blue">
      <div class="ui container">
        <div class="ui stackable grid">
          <div class="ui two wide column computer only">
            <h2>{{.titel}}</h2>
          </div>
          <div class="ui fourteen wide column">
            <div class="ui stackable four column grid innerright">
              {{ range .elemente }}
              <div class="ui column" style="background:url({{partial "imgUrl" (dict "img" .hintergrundbild "params" "q_auto" )}}) center center no-repeat; background-size:cover">
                <a href="{{.link}}" target="_blank">
                  <div class="block {{.farbe}}">
                    <div class="wr11">
                      <img class="timg" src="{{partial "imgUrl" (dict "img" .icon "params" "c_scale,f_auto,w_200" )}} "/>
                    </div>
                    <div class="wr12">
                      <h4>{{.titel}}</h4>
                      <i class="youtube icon"></i>
                    </div>
                  </div>
                </a>
              </div>
              {{end}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {{end}}

  </div>

  

 



  



{{ end }}


